chat_service_OPTIMIZADO.json
{
  "name": "Chat_service_OPTIMIZADO",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-800, 0],
      "id": "trigger-whatsapp",
      "name": "WhatsApp Trigger",
      "webhookId": "866e3b02-b6b0-4acd-bccc-0225cdc70881",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "9QpdBWehitnZYj7V",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "block-check-1",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "573153404327",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "block-check-2",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "3153047970",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 0],
      "id": "if-blocked",
      "name": "Números Bloqueados?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://largebotinterfaz-production-5b38.up.railway.app/webhook/receive-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n  \"contact_name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\",\n  \"message\": {{ JSON.stringify($('WhatsApp Trigger').item.json.messages[0].text?.body || '') }},\n  \"whatsapp_id\": \"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"sender_type\": \"user\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 100],
      "id": "http-receive-message",
      "name": "Enviar al Backend (Mensaje Entrante)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ai-check",
              "leftValue": "={{ $json.ai_should_respond }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [80, 100],
      "id": "if-ai-responds",
      "name": "¿AI Debe Responder?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# IDENTIDAD Y PERSONALIDAD\nEres **Amelia**, la asistente virtual del Club de Alisados Large, tu función principal es tratar de persuadir a la personas para agendar citas y resolver las dudas con la informacion oficial \"Informacion_Large\" . Tu personalidad es:\n\n- **Cálida y profesional**: Siempre cordial y amigable\n- **Palabras clave solo usas de vez en cuando**: \"hermosa\", \"querida\", \"princesa\"\n- **Emojis apropiados**: 🌿💚🌸✨💆‍♀️💫🍃⭐🌺 (usa 2-3 por mensaje)\n\n## Saludo estándar:\n```\n¡Hola hermosa! 🌿✨\nSoy Jen y te doy la bienvenida con mucho cariño a la familia Large 💚🌸\n¡Aquí cuidamos tu cabello con lo mejor de la naturaleza! 🍃💆‍♀️\n¿En qué puedo ayudarte hoy? 💫\n```\n\n---\n\n# REGLA FUNDAMENTAL DE INFORMACIÓN\n **Obligatorio**: SIEMPRE consulta la herramienta \"Informacion_Large\" ANTES de responder cualquier pregunta sobre servicios, productos o procesos.\n\n**Sedes Disponibles**\nSede Minuto de Dios\n 📱 304 382 1239\n 📍 Transversal 76 #81G – 45\n\nSede Ciudad Montes\n 📱 300 968 3341\n 📍 Carrera 50 #1 – 77\n\nSede Medellín\n 📱 300 833 7767\n 📍 Calle 48 #67 – 120\n\nSede Bucaramanga\n 📱 333 721 2883\n 📍 Calle 63 #17A – 55\n\n## HERRAMIENTAS DE CONTACTO POR SEDE\nSede Minuto de Dios → soporte_humano_minuto_dios\nSede Ciudad Montes → soporte_ciudad_montes\nSede Medellín → soporte_medellin\nSede Bucaramanga → soporte_bucaramanga\n\n# VARIABLES DEL SISTEMA\n- **Fecha actual**: {{ $now }}\n- **Teléfono cliente**: {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\n\n# ESTILO DE COMUNICACIÓN\n- Ser cálida, profesional y cercana\n- Usar frases breves y preguntas claras\n- Incluir 2-3 emojis por mensaje\n- NUNCA digas \"voy a consultar\" o \"déjame verificar\"\n- Solo usa información oficial de las herramientas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [400, 100],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [240, 320],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wJ25uYQVFq46taDN",
          "name": "Gemini_api_connection"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [400, 320],
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fnL3cmZ5XxKG6zws",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "usa esta herramienta para responder cualquier pregunta sobre keratinas, shampoos, alisados, precios, procedimientos, cuidados",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [560, 320],
      "id": "vector-store-info",
      "name": "Informacion_Large",
      "credentials": {
        "supabaseApi": {
          "id": "aXZcKrFRfRHSGtx4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-exp-03-07"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [560, 500],
      "id": "gemini-embeddings",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "wJ25uYQVFq46taDN",
          "name": "Gemini_api_connection"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $('AI Agent').first().json.output;\nlet result;\nif (Array.isArray(output)) {\n  result = output[0];\n} else {\n  result = output;\n}\n\nreturn [\n  {\n    json: {\n      output: result,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 100],
      "id": "code-clean-output",
      "name": "Limpiar Output"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=762544410269084",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1040, 100],
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "webhookId": "700b207a-2800-426e-b70f-3d8e6a7e706a",
      "credentials": {
        "whatsAppApi": {
          "id": "Nt5JQyFq9C77fZsS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://largebotinterfaz-production-5b38.up.railway.app/webhook/receive-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n  \"contact_name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\",\n  \"message\": {{ JSON.stringify($('Limpiar Output').item.json.output) }},\n  \"whatsapp_id\": \"bot_{{ Date.now() }}_{{ Math.floor(Math.random() * 1000) }}\",\n  \"sender_type\": \"bot\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 100],
      "id": "http-save-bot-message",
      "name": "Guardar Respuesta Bot en Backend"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=762544410269084",
        "recipientPhoneNumber": "573043821239",
        "textBody": "={{ $fromAI('Text_Body', `Teléfono:\nNombre:\nSede:\nResumen:`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsAppTool",
      "typeVersion": 1,
      "position": [240, 500],
      "id": "tool-soporte-minuto",
      "name": "soporte_humano_minuto_dios",
      "webhookId": "c6b5a252-0a67-46f7-804c-a291d6b8add6",
      "credentials": {
        "whatsAppApi": {
          "id": "Nt5JQyFq9C77fZsS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=762544410269084",
        "recipientPhoneNumber": "573009683341",
        "textBody": "={{ $fromAI('Text_Body', `Teléfono:\nNombre:\nSede:\nResumen:`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsAppTool",
      "typeVersion": 1,
      "position": [400, 500],
      "id": "tool-soporte-montes",
      "name": "soporte_ciudad_montes",
      "webhookId": "c6b5a252-0a67-46f7-804c-a291d6b8add6",
      "credentials": {
        "whatsAppApi": {
          "id": "Nt5JQyFq9C77fZsS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=762544410269084",
        "recipientPhoneNumber": "573008337767",
        "textBody": "={{ $fromAI('Text_Body', `Teléfono:\nNombre:\nSede:\nResumen:`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsAppTool",
      "typeVersion": 1,
      "position": [720, 500],
      "id": "tool-soporte-medellin",
      "name": "soporte_medellin",
      "webhookId": "c6b5a252-0a67-46f7-804c-a291d6b8add6",
      "credentials": {
        "whatsAppApi": {
          "id": "Nt5JQyFq9C77fZsS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=762544410269084",
        "recipientPhoneNumber": "573337212883",
        "textBody": "={{ $fromAI('Text_Body', `Teléfono:\nNombre:\nSede:\nResumen:`, 'string') }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsAppTool",
      "typeVersion": 1,
      "position": [880, 500],
      "id": "tool-soporte-bucaramanga",
      "name": "soporte_bucaramanga",
      "webhookId": "c6b5a252-0a67-46f7-804c-a291d6b8add6",
      "credentials": {
        "whatsAppApi": {
          "id": "Nt5JQyFq9C77fZsS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "72526bdd-b396-414d-8f2d-d98feac440aa",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 400],
      "id": "webhook-send-message",
      "name": "Webhook (Enviar desde Frontend)",
      "webhookId": "72526bdd-b396-414d-8f2d-d98feac440aa"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "762544410269084",
        "recipientPhoneNumber": "={{ $json.body.phone }}",
        "textBody": "={{ $json.body.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [-480, 400],
      "id": "send-from-frontend",
      "name": "Enviar WhatsApp (desde Frontend)",
      "webhookId": "b1848555-33c5-4022-8421-585a5edb9bfa",
      "credentials": {
        "whatsAppApi": {
          "id": "Nt5JQyFq9C77fZsS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Mensaje enviado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-160, 400],
      "id": "respond-webhook",
      "name": "Responder Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Números Bloqueados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Números Bloqueados?": {
      "main": [
        [],
        [
          {
            "node": "Enviar al Backend (Mensaje Entrante)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar al Backend (Mensaje Entrante)": {
      "main": [
        [
          {
            "node": "¿AI Debe Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿AI Debe Responder?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Limpiar Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Informacion_Large": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Informacion_Large",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "soporte_humano_minuto_dios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "soporte_ciudad_montes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "soporte_medellin": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "soporte_bucaramanga": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Output": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Guardar Respuesta Bot en Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Enviar desde Frontend)": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (desde Frontend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (desde Frontend)": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "optimized-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c72d3d92b8b37daaaa1439a01634a26d8a3f6fbfa77730d75cf66caa66ca80e1"
  },
  "id": "chat-service-optimized",
  "tags": []
}
